//*********************************************************************//
//                          nav-header                                 //
//*********************************************************************//
.nav-header {
  width: 100%;
  height: 48px;
  position: fixed;
  top: -48px;
  left: 0;
  z-index: 3001;
  background-color: $nav-bg;
  // menu
  .menu {
    float: left;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
    .bit-1 {
      &::before {
        content: '';
        width: 16px;
        height: 5px;
        position: absolute;
        top: 8px;
        left: 8px;
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        transform-origin: left bottom;
        background-color: #2E313C;
        -webkit-transition: transform .3s, top .3s;
        -moz-transition: transform .3s, top .3s;
        transition: transform .3s, top .3s;
      }
      &::after {
        content: '';
        width: 16px;
        height: 5px;
        position: absolute;
        top: 8px;
        right: 8px;
        -webkit-transform-origin: right bottom;
        -moz-transform-origin: right bottom;
        transform-origin: right bottom;
        background-color: #2E313C;
        -webkit-transition: transform .3s, top .3s;
        -moz-transition: transform .3s, top .3s;
        transition: transform .3s, top .3s;
      }
    }
    .bit-2 {
      width: 32px;
      height: 5px;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: #2E313C;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      -webkit-transition: transform .3s .3s, width .3s .6s;
      -moz-transition: transform .3s .3s, width .3s .6s;
      transition: transform .3s .3s, width .3s .6s;
    }
    .bit-3 {
      &::before {
        content: '';
        width: 16px;
        height: 5px;
        position: absolute;
        bottom: 8px;
        left: 8px;
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        transform-origin: left top;
        background-color: #2E313C;
        -webkit-transition: transform .3s, bottom .3s;
        -moz-transition: transform .3s, bottom .3s;
        transition: transform .3s, bottom .3s;
      }
      &::after {
        content: '';
        width: 16px;
        height: 5px;
        position: absolute;
        bottom: 8px;
        right: 8px;
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        transform-origin: right top;
        background-color: #2E313C;
        -webkit-transition: transform .3s, bottom .3s;
        -moz-transition: transform .3s, bottom .3s;
        transition: transform .3s, bottom .3s;
      }
    }
    &.open {
      .bit-1 {
        &::before {
          width: 21px;
          top: 7px;
          -webkit-transform-origin: left bottom;
          -moz-transform-origin: left bottom;
          transform-origin: left bottom;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: transform .3s .3s, width .3s .3s, top .3s .3s;
          -moz-transition: transform .3s .3s, width .3s .3s, top .3s .3s;
          transition: transform .3s .3s, width .3s .3s, top .3s .3s;
        }
        &:after {
          width: 21px;
          top: 7px;
          -webkit-transform-origin: right bottom;
          -moz-transform-origin: right bottom;
          transform-origin: right bottom;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: transform .3s .3s, width .3s .3s, top .3s .3s;
          -moz-transition: transform .3s .3s, width .3s .3s, top .3s .3s;
          transition: transform .3s .3s, width .3s .3s, top .3s .3s;
        }
      }
      .bit-2 {
        width: 6px;
        -webkit-transform: translate(-50%, -50%) rotate(45deg);
        -moz-transform: translate(-50%, -50%) rotate(45deg);
        transform: translate(-50%, -50%) rotate(45deg);
        -webkit-transition: transform .3s .3s, width .3s;
        -moz-transition: transform .3s .3s, width .3s;
        transition: transform .3s .3s, width .3s;
      }
      .bit-3 {
        &::before {
          width: 21px;
          bottom: 6px;
          -webkit-transform-origin: left top;
          -moz-transform-origin: left top;
          transform-origin: left top;
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          transform: rotate(-45deg);
          -webkit-transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
          -moz-transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
          transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
        }
        &::after {
          width: 21px;
          bottom: 6px;
          -webkit-transform-origin: right top;
          -moz-transform-origin: right top;
          transform-origin: right top;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
          -moz-transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
          transition: transform .3s .3s, width .3s .3s, bottom .3s .3s;
        }
      }
    }
  }
  // menu-work
  .menu-work {
    float: left;
    position: relative;
    top: 11px;
    margin-left: 30px;
    text-align: center;
    li {
      float: left;
      line-height: 1;
      position: relative;
      &:first-child {
        border-right: 1px solid $dark_1;
      }
      a {
        display: block;
        position: relative;
        padding: 0 20px;
        font-size: 1em;
        color: $dark_1;
        svg {
          position: absolute;
          top: 3px;
          &.left {
            left: 0;
          }
          &.right {
            right: 0;
          }
        }
      }
    }
  }
}


//*********************************************************************//
//                          menu-inner                                 //
//*********************************************************************//
.menu-inner {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  opacity: 0;
  -webkit-transform: translate(0, -1400px);
  -moz-transform: translate(0, -1400px);
  transform: translate(0, -1400px);
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: $nav-bg;
  &.visible {
    display: table;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    pointer-events: auto;
  }
  .menu-list {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    ul {
      display: table;
      text-align: center;
      margin: 0 auto;
      a {
        display: block;
        position: relative;
        font-size: 1.5em;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-align: center;
        line-height: 70px;
        color: $dark_1;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        &:hover {
          -webkit-transform: scale(1.1);
          -moz-transform: scale(1.1);
          transform: scale(1.1);
        }
        b {
          width: 15px;
          height: 0;
          position: absolute;
          top: 50%;
          border-top: 1px solid $dark_1;
          &.l {
            left: -20px;
          }
          &.r {
            right: -20px;
          }
        }
      }
    }
  }
}