
$light_1: #fff;       // white
$dark_1:  #000;       //black

// link
$a-link: #878787;

// skills & work & contact bg
$sk-bg: #ce1a11;
$work-bg_l: #FFDE00; //#ea4252
$work-bg_r: #76B36D; //#73d264
$contact-bg: #9ad8fc;

// info
$info-side_bg: #D4F7F3; //#28c4be
$info-side_h3: #58979D; //#45b29a

// nav
$nav-bg: #FAFAFA;


$logo-color: #0518FF;

// info-side a hover
$info-side_a: #45b29a;
$info-side_a_hover: #29685a;